@import url("styles.css");
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');



body{
    font-family: 'Fira Sans', sans-serif;
    font: normal 100%;
}

img{
    max-width:100%;
}

.body-container{
    margin:auto;
    max-width:95%;
    
}


/* Navigation Bar */
.navbar a:hover{
    color:#7FDDDD;
    padding-bottom:5px;
    border-bottom: 0px solid #258989;
  } 
  
  .navbar a.current{
    color:#258989 !important;
    padding-bottom:5px;
    border-top: 2px solid #258989;
    border-bottom: 2px solid #258989 !important;
  }
  
  .topnav{
    z-index: 1;
    background-color: white;
    box-shadow: 0 4px 2px 2px gray !important;
  }
  
  .modify-navbar{
    font-size: 1.2rem;
    font-weight: lighter;
    font-weight:450;
    filter:drop-shadow(10px 10px 10px #A4BBFF);
    padding-right:15px;
  }
  
  .green{
    color: black !important; 
  }
  
  .green:hover{
    color:#7FDDDD !important;
    font-size: 1.2rem;
    font-weight:400;
  }
  
  
  .navbar-toggler-icon{
    color:#258989;
  }
  
  /*end nav bar */

/* body */

/* Video  */
.video-container video{
    width: 100%;
}


/* Quote */
.quote-container{
    background-color: #258989;
    margin-top: -10px;
    margin-bottom:-25px;
    padding-top: 50px;
}


.quote-block{
  padding: 0 150px; 
}

.quote-text{
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    padding: 1%;
}

.blockquote-footer{
  color: white !important;
}


/* Ways to Give */
.ways-to-give-container{
  background-color: white;
}

.ways-to-give-container h1{
  font-size: 2.5em;
  font-weight: bold;
  width: fit-content;
  color:#258989;
  margin-left: 25px;
  padding-top: 50px;
  padding-bottom: 20px;
  border-radius:10px;
}

.ways-to-give-wrapper hr{
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  border: none;
  height: 1px;
  background: linear-gradient(to right, rgb(11, 63, 85), rgb(21, 160, 135));
}

.ways-to-give-img{
  width: 100%;
}

.ways-to-give-text{
  padding: 10px 20px;
  margin-left: auto;
  margin-right: auto;

}

.ways-to-give-text p{
  margin-left: 15px;
  margin-bottom: 40px;
  color:#000000;
  letter-spacing: 0.05em;
}

.ways-to-give-text h2{
  margin-left: 15px;
  font-size: 1.6em;
  font-weight: bold;
  width: fit-content;
  color:#258989;
  padding-bottom: 5px;
}

.ways-to-give-button{
  margin-left: 15px;
  text-decoration: none;
  font-size: 1em;
  border-radius: 45px;
  padding: 12px 30px; 
  background-color: #258989;
  color: white;
}

.ways-to-give-button:hover{
opacity: 0.8;
}

#volunteer-img{
  float:right !important;
}


.body-container{
    /* background-color:white; */
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 1%;
    padding-right:1%;
    padding-top: 1%;
}

.body-container h1{
    font-size: 2em;
    font-weight: bold;
    letter-spacing:0.1em;
    background-color: #21ABAB;
    width: fit-content;
    color:white;
    padding: 1%;
    border-radius:10px;
}
/*  images  */
#firefly{
    width:25%;
    float:left;
    margin: 0 15px 0 0;
    border-radius: 2.5%;
}  

#assessment{
    width:25%;
    float:left;
    margin: 0 15px 0 0;
    border-radius: 2.5%;
}  

#engineer{
    width:25%;
    float:left;
    margin: 0 15px 0 0;
    border-radius: 2.5%;
}  


/*  the events container  */
.events{
    margin-bottom: 5%;
    border-radius: 2%;
}



.events h2{
    color:white;
    margin: 25px;
    letter-spacing:0.03cm;
}

.events p{
    font-family: 'Helvetica Neue', arial, sans-serif;
    letter-spacing:0.03cm;
}

.events a{
    font-size: 14px;
    color: white;
    background-color: #FF3CAC;
    background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
    text-decoration: none;
    padding: 10px 20px;
    border-radius:20px;
    margin:10px;
}

.events a:hover{
    color:#7FDDDD;
    opacity: 0.8;
}




/* Footer */
.footer-pos{
    background-color: #258989;
    text-decoration: none;
  }
  
  #footer-background{
    width:100%;
    margin-bottom: -50px;
  }
  
  .footer-text{
    margin-bottom: 10px;
  }
  
  .footer-text a{
    text-decoration: none !important;
  }
  
  #footer-home{
    font-weight: 800;
    text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #0fa,
      0 0 80px #0fa,
      0 0 90px #0fa,
      0 0 100px #0fa,
      0 0 150px #0fa;
  }
  
  .footer-text a:hover{
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ffdd1b,
      0 0 35px #ffdd1b, 0 0 40px #ffdd1b, 0 0 50px #ffdd1b, 0 0 75px #ffdd1b;
      font-size: 1.1rem;
    
  }



/* Media Queries */
/*desk top*/
@media screen and (max-width: 1000px) {

    }
  
/*tablet*/

  
  

  
/*phone*/
@media screen and (max-width: 576px) {
    #engineer, #assessment, #firefly{
        margin:auto;
        width:auto;

    }

    .events{
        display: flex;
        flex-direction: column;
        /* background-color: beige; */
        width:100%;
        margin:auto;
        margin-bottom:10px;
    }
    .events h2{
        /* color:black; */
        text-align: center;
    }

    .events p{
        font-family: 'Helvetica Neue', arial, sans-serif;
        letter-spacing:0.01cm;
        margin-right:1px;
    }

    .events a{
        width: fit-content;
    }

    .body-container{
        display:flex;
        justify-content: center;
    }
  }


/* Bootstrap breakpoint for the navbar hamburger menu */
@media (min-width: 992px){

    .donate{
        color:white !important;
        border-radius: 20px;
        /* border: 2px solid #258989; */
        background-color: #258989 !important;
        letter-spacing: -1px !important;
        width: 120px !important; 
        font-size: 1rem;
        box-shadow:
        0.3em 0.3em 1em #7FDDDD;
    }
    .navbar a:hover{
        color:#7FDDDD;
        padding-bottom:5px;
        border-bottom: 0px solid #258989;
    } 
    
    .navbar a.current{
        color:#258989 !important;
        padding-bottom:5px;
        border-bottom: 0px solid #258989;
        border-top: 0px solid #258989;
    }
  
    .footer-text h6{
        font-size: large !important;
        margin-bottom: 20px !important;
    }
  }