@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'Fira Sans', sans-serif;
    font: normal 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

/* Start Timeline */


.timeline-container h2{
    margin-top: 20px;
    color: #7FDDDD;
    font-size: 1.5rem;
    font-weight: 700 !important;
}



#timeline {
	display: flex;
	background-color:#7FDDDD;
    background-image: url('/img/scroll1-1.webp');
    background-size: cover;
    background-repeat: no-repeat;
  }

  #timeline h2{
    position: absolute;
    margin-left: 30px;
    color:rgb(255, 255, 255);
    mix-blend-mode: difference;
    z-index: 1;
  }
  #timeline:hover .tl-item {
	width: 23.3333%;
  }
  
  .tl-item {
	transform: translate3d(0, 0, 0);
	position: relative;
	width: 25%;
	height: 100vh;
	min-height: 600px;
	color: #7FDDDD;
	overflow: hidden;
	transition: width 0.5s ease;
  }
  .tl-item:before, .tl-item:after {
	transform: translate3d(0, 0, 0);
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
  }
  .tl-item:after {
	background: #7FDDDD;
	opacity: 1;
	transition: opacity 0.5s ease;
  }
  .tl-item:before {
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, black 75%);
	z-index: 1;
	opacity: 0;
	transform: translate3d(0, 0, 0) translateY(50%);
	transition: opacity 0.5s ease, transform 0.5s ease;
  }
  .tl-item:hover {
	width: 30% !important;
  }
  .tl-item:hover:after {
	opacity: 0;
  }
  .tl-item:hover:before {
	opacity: 1;
	transform: translate3d(0, 0, 0) translateY(0);
	transition: opacity 1s ease, transform 1s ease 0.25s;
  }
  .tl-item:hover .tl-content {
	opacity: 1;
	transform: translateY(0);
	transition: all 0.75s ease 0.5s;
  }
  .tl-item:hover .tl-bg {
	filter: grayscale(0);
  }
  
  .tl-content {
	transform: translate3d(0, 0, 0) translateY(25px);
	position: relative;
	z-index: 1;
	text-align: center;
	margin: 0 1.618em;
	top: 55%;
	opacity: 0;
  }
  .tl-content h1 {
	font-family: "Pathway Gothic One", Helvetica Neue, Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	color:#7FDDDD !important;
	font-size: 1.2rem !important;
	font-weight: normal;
  }

  
  .tl-year {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	z-index: 1;
	border-top: 0px solid #fff;
	border-bottom: 1px solid #fff;
  }

  .tl-year p {
	font-family: "Pathway Gothic One", Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 1.428rem !important;
	line-height: 0;
  }
  
  .tl-bg {
	transform: translate3d(0, 0, 0);
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-size: cover;
	background-position: center center;
	transition: filter 0.5s ease;
	filter: grayscale(100%);
  }
/*End timeline */



.slideshow-container img {
    object-fit: cover;
    width:100%;
    height:620px;}

/* Pop up */
.popup{
    margin-bottom: 0px !important;
}

/* Navigation Bar */
.navbar a:hover{
    padding-bottom:5px;
    border-bottom: 0px solid #258989;
} 

.navbar a.current{
    color:#258989 !important;
    padding-bottom:5px;
    border-top: 2px solid #258989;
    border-bottom: 2px solid #258989 !important;
}

.topnav{
    z-index: 1;
    background-color: white;
    box-shadow: 0 4px 2px 2px gray !important;
}

.modify-navbar{
    font-size: 1.2rem;
    font-weight: lighter;
    font-weight:450;
    filter:drop-shadow(10px 10px 10px #A4BBFF);
    padding-right:15px;
}

.green{
    color: black !important; 
}

.green:hover{
    font-size: 1.2rem;
    font-weight:400;
}


.navbar-toggler-icon{
    color:#258989;
}

/*end nav bar */

/* About Us Page: Join Us Container */
#join-our-team-container{
    background-image: url('/img/background-image-blur-events.webp');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;

}

.join-us-container{
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px !important;
    padding-right: 100px !important;
    border-radius: 15px;
}

.join-us-container h2{
    text-align: center;
    color:#ffffff;
    font-size: 2rem;
    font-weight: 600 !important;
    margin-top: 15px;
    margin-bottom: 30px;
}

.join-us-container p{
    text-align: center;
    color:#ffffff;
    width: 50%;
    font-size: 1.2rem;
    font-weight: 300 !important;
    margin-top: 15px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;

}

#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm fieldset,
#fs-frm optgroup,
#fs-frm label,
#fs-frm #card-element:disabled {
  font-family: 'Fira Sans', sans-serif;
  font-size: 1.2rem !important;
  color: inherit;
  border: none;
  border-radius: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
}
#fs-frm label,
#fs-frm legend,
#fs-frm ::placeholder {
  font-size: 1rem;
  margin-bottom: .5rem;
  padding-top: .2rem;
  display: flex;
  align-items: baseline;
}

/* border, padding, margin, width */
#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm #card-element {
  border: 1px solid rgba(33, 255, 248, 0.2);
  background-color: white;
  color:#258989;
  padding: .5em 1rem;
  margin-bottom: 1.75rem;
}
#fs-frm input:focus,
#fs-frm select:focus,
#fs-frm textarea:focus {
  background-color: white;
  outline-style: solid;
  outline-width: thin;
  outline-color: gray;
  outline-offset: -1px;
}
#fs-frm [type="text"],
#fs-frm [type="email"] {
  width: 100%;
}
#fs-frm [type="button"],
#fs-frm [type="submit"],
#fs-frm [type="reset"] {
  width: auto;
  cursor: pointer;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}
#fs-frm [type="button"]:focus,
#fs-frm [type="submit"]:focus,
#fs-frm [type="reset"]:focus {
  outline: none;
}
#fs-frm [type="submit"],
#fs-frm [type="reset"] {
  margin-bottom: 0;
}
#fs-frm select {
  text-transform: none;
}

#fs-frm [type="checkbox"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
  appearance: checkbox;
  display: inline-block;
  width: auto;
  margin: 0 .5em 0 0 !important;
}

#fs-frm [type="radio"] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
  appearance: radio;
}

/* address, locale */
#fs-frm fieldset.locale input[name="city"],
#fs-frm fieldset.locale select[name="state"],
#fs-frm fieldset.locale input[name="postal-code"] {
  display: inline;
}

#fs-frm fieldset.locale input[name="city"] {
  width: 52%;

}
#fs-frm fieldset.locale select[name="state"],
#fs-frm fieldset.locale input[name="postal-code"] {
  width: 30%;
}
#fs-frm fieldset.locale input[name="city"],
#fs-frm fieldset.locale select[name="state"] {
  margin-right: 3%;
}

input[type=submit] {
    color: #7FDDDD;
    padding: 12px 40px !important;
    border: none;
    border-radius: 17px !important;
    margin-left:auto !important;
    margin-right:auto !important;
}

input[type=submit]:hover{
    background-color: #7FDDDD !important;
    color: white !important;
}

input[type=text], input[type=email], input[type=tel], input[type=password], textarea, select {
    border-radius: 10px !important;
}




/* Slideshow container */
.slideshow-container {
    width:100%;
    position: relative;
}

/* new addition Nov 10 2023 SM */ 
.slideshow-container h1{
    font-family: "Lexend Deca", sans-serif;
    color: #f2f2f2;
    text-shadow: black 1mm 1mm;
    font-weight:bolder;
    line-height:1.4;
    font-size: 50px;
    padding-bottom:150px;
  }
  /* end of new addition */
  

/* Caption text */
.text {
    background-color: rgba(5, 105, 95, 0.661);
    color: #f2f2f2;
    max-width:350px;
    font-size: 19px;
    font-weight: 300;
    line-height:1.4;
    padding: 8px 12px;
    position: absolute;
    bottom: 150px;
    left: calc(50vw - min(5cm, 25vw));
    overflow-y: auto;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 15px;
    font-weight: 600;
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #25898964;
}

/* The dots/bullets/indicators */
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dot:hover{
    box-shadow:0px 0px 10px 2px #bbb;

}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 2s;
}

.pattern{
    position: fixed;
    width: 100vw;
    height: 100vh; 
    background-color: #e5e5f7;
    opacity: 0.2;
    background: linear-gradient(135deg, #439eb455 25%, transparent 25%) -40px 0/ 80px 80px, linear-gradient(225deg, #439eb4 25%, transparent 25%) -40px 0/ 80px 80px, linear-gradient(315deg, #439eb455 25%, transparent 25%) 0px 0/ 80px 80px, linear-gradient(45deg, #439eb4 25%, #e5e5f7 25%) 0px 0/ 80px 80px;
    z-index: -100;
}


/* Home page About Us Container */
.about-us-container{
    background-image: url('/img/background-image-blur-about-us.png');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    box-shadow:
     rgb(52, 229, 197) 0px 0px 10px 1px inset,
     rgb(22, 252, 210) -1px 01px 10px 1px ;
    color: whitesmoke;

    padding-top: 40px;
    padding-left: 30px;
    padding-right: 10px;
    padding-bottom: 100px;

    position: relative !important; 
    margin-top:50px !important;
    margin-left:5px !important;
    margin-right:5px !important;
    margin-bottom:50px !important;
}

#what-we-know-container{
    background-image: url('/img/background-image-blur-events.webp');
    background-size: cover;
    background-repeat: no-repeat;
}

.about-us-title{
    width:85% !important;
    padding-right:50px !important;
}

.about-us-title h1{
    font-weight: 800;
    font-size: 2.5rem;
    width:100%;
}

.about-us-title h2{
    color:#7FDDDD;
    font-size: 1.3rem;
    font-weight: 500 !important;
}

.about-us-title p{
    margin-top:20px;
    width: 90% !important; 
    font-size: 1.2rem;
}

hr{
    width:95% !important;
    color:whitesmoke !important;
}


#map{
    float:right;
    width: 60%;
    margin-bottom: 20px;
}

.about-us-map{
    width: 100% !important;
    padding-right:50px !important;
}

.about-us-map p{
    font-size: 1.3rem;
    font-weight: 300;
}

.more-info-button{
    text-decoration: none !important;
    padding-left:20px !important;
    padding-right: 20px !important;
    padding-top:8px;
    padding-bottom: 8px;
    font-weight: 450 !important;
    color: #7FDDDD !important;
    border: 1px solid #7FDDDD !important;
    border-radius: 5px;
    margin-top:15px;
}

.more-info-button:hover{
    opacity: 0.8;
    color: white !important;
    border-color: white !important;
}



/* Events Home Page */
.events-background-blur{
    background-image: url('/img/events02.png');
    background-size: cover;
    background-repeat: no-repeat;
    height:850px;
    filter: blur(8px);
    -webkit-filter: blur(8px);
    /* z-index:3; */
    margin-top:50px;
    margin-left:5px;
    margin-right:5px;
    position:relative;
    border-radius: 20px;
    box-shadow: rgb(22, 252, 210) 0px 0px 10px 5px;
}

#events-container{
    position:relative !important;
    top:-800px;
    line-height:35px;
}

#events-map #map{
    margin-left: 20px !important;
    height: 450px;
    object-fit: cover;
}

/* Donate Home Page */
.index-donate-container{
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 50px;
    z-index: 100 !important;
    background-color: red !important;
    opacity: 1 !important;
}

/* Home page 3 grids */
.homepage-grid-container{
    display:flex !important;
    flex-direction: row !important;
    justify-content: center !important;
    background-color: #258989;
}

.grid-containers{
    max-width: 400px !important;
    display:flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
}

.grid-containers > * {
    font-family: 'Fira Sans', sans-serif;
    color:white;
    text-align: center;
}

.grid-containers h3{
    font-weight:bolder !important;
    font-size: 2rem !important;
    margin-top: 0px;
    margin-bottom: 50px;
}

.grid-containers p{
    font-size: 1rem;
    font-weight: 300 !important;
    margin-bottom: 50px;
    margin-left: 30px;
    margin-right: 30px;
}

.grid-button{
    text-decoration: none;
    margin-bottom: 50px;
    font-weight: 800; 
    border: 1px solid white;
    border-radius: 45px;
    padding: 10px 20px; 
    background-color: white;
    color: #258989;
}

.grid-button:hover{
    background-color: #258989;
    color:white;
}

.grid-image:hover{
    transform: scale(0.9); 
}



/* Footer */
.footer-pos{
    background-color: #258989;
    text-decoration: none;
}

#footer-background{
    width:100%;
    margin-bottom: -50px;
}

.footer-text{
    margin-bottom: 10px;
}

.footer-text a{
    text-decoration: none !important;
}

#footer-home{
    font-weight: 450 !important;
    text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #0fa,
      0 0 80px #0fa,
      0 0 90px #0fa,
      0 0 100px #0fa,
      0 0 150px #0fa;
}

/* About Us Page - Top Title*/
#learn-more{
    text-decoration: none;
    color:rgb(29, 195, 200);
}
#learn-more:hover{
    color:white;
}
.about-us-background{
    background-image: url('/img/scroll1-backup.webp');
    object-fit:cover;
    object-position: top;
    background-size:cover;
    height: 600px;
}

.about-us-background h1{
    font-family: 'Fira Sans', sans-serif;
    font-size: 2rem;
    color: white;
    font-weight: 600;
    line-height: 60px;
    margin-left: 30px;
    padding-top: 400px;
    color: white;
}

.our-story-container{
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: white;
}


.our-story-text{
    width: 30% !important;
}

.our-story-text h2{
    color: #258989;
    font-size: 1.5rem;
    font-weight: 700 !important;
    margin-bottom:15px;
}

.our-story-text h3{
    text-align: left;
    color: #258989;
    font-size: 1rem;
    font-weight: 400 !important;
}

.our-story-text p{
    margin-top:20px;
    font-size: 1.2rem;
    color:#258989;
}

.our-story-img img{
    padding-left: 50px;
    padding-right: 50px;
    width: 100%;
}



/* About us page: side-by-side image with text */

.side-by-side-container{
    justify-content: space-around;
    align-items: center;
    display: flex;
    flex-direction: row;
}

#side-by-side-text{
    position: absolute;
    z-index: 10 !important;
    font-family: 'Fira Sans', sans-serif;
    font-size: 1.8rem;
    color: white;
    font-weight: 600;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Black shadow */
}

#side-by-side{
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)); */
    filter:brightness(80%);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* About Us Page - Board */
.card-align{
    display: flex;
    flex-direction: row !important;
    z-index: 3 !important;
}

.card-col{
    z-index: 2;
}

card-col{
    z-index: 5 !important;
    color:white !important;

}

.about-us-page{
    top: 200px !important;
}

.about-us-title2{
    margin-left:auto !important;
}

.about-us-title p{
    width: 70%;
}

#about-us-page-id{
    height: 800px;
}

#mail-to{
    color: #f8fefe;
}

.footer-contact h4{
    margin-bottom: 20px;
}


/*Media Query */

@media (max-width: 1000px){
    .about-us-background-blur{
        height:1400px;
    }

    .events-background-blur{
        height:1050px;
    }

    #events-container{
        top:-1000px;
    }
}

@media (max-width: 824px) {

    #fs-frm label,
    #fs-frm legend,
    #fs-frm ::placeholder {
    font-size: 0.85rem;
    margin-bottom: .5rem;
    padding-top: .2rem;
    display: flex;
    align-items: baseline;
    }

    /* Start for about us main page section */
    .about-us-background-blur{
        height:1950px;
    }

    .about-us-title p{
        width:80%;
    }


    #map{
        width:100%;
        margin-bottom: 10px;
    }
    /* END for about us main page section */

    .events-background-blur{
        height:1200px;
    }

    #events-container{
        top:-1150px;
    }

    .about-us-background h1{
        font-family: 'Fira Sans', sans-serif;
        font-size: 1.5rem;
    }

    .about-us-background h1{
        font-family: 'Fira Sans', sans-serif;
        font-size: 1.8rem;
        color: white;
        font-weight: 600;
        line-height: 50px;
        margin-left: 30px;
        padding-top: 400px;
        color: white;
    }
}

/* Bootstrap breakpoint for the navbar hamburger menu */
@media (min-width: 992px){

    .donate{
        color:white !important;
        border-radius: 20px;
        /* border: 2px solid #258989; */
        background-color: #258989 !important;
        letter-spacing: -1px !important;
        width: 120px !important; 
        font-size: 1rem;
        box-shadow:
        0.3em 0.3em 1em #7FDDDD;
    }
    .navbar a:hover{
        padding-bottom:5px;
        border-bottom: 0px solid #258989;
    } 
    
    .navbar a.current{
        color:#258989 !important;
        padding-bottom:5px;
        border-bottom: 0px solid #258989;
        border-top: 0px solid #258989;
    }

    .footer-text h6{
        font-size: large !important;
        margin-bottom: 20px !important;
    }
}

/* Start Timeline */
#timeline {
	display: flex;
	background-color:#258989;
  }
  #timeline:hover .tl-item {
	width: 23.3333%;
  }
  
  .tl-item {
	transform: translate3d(0, 0, 0);
	position: relative;
	width: 25%;
	height: 125vh;
	min-height: 600px;
	color: #fff;
	overflow: hidden;
	transition: width 0.5s ease;
  }
  .tl-item:before, .tl-item:after {
	transform: translate3d(0, 0, 0);
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
  }
  .tl-item:after {
	background: rgba(3, 22, 37, 0.85);
	opacity: 1;
	transition: opacity 0.5s ease;
  }
  .tl-item:before {
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, black 75%);
	z-index: 1;
	opacity: 0;
	transform: translate3d(0, 0, 0) translateY(50%);
	transition: opacity 0.5s ease, transform 0.5s ease;
  }
  .tl-item:hover {
	width: 30% !important;
  }
  .tl-item:hover:after {
	opacity: 0;
  }
  .tl-item:hover:before {
	opacity: 1;
	transform: translate3d(0, 0, 0) translateY(0);
	transition: opacity 1s ease, transform 1s ease 0.25s;
  }
  .tl-item:hover .tl-content {
	opacity: 1;
	transform: translateY(0);
	transition: all 0.75s ease 0.5s;
  }
  .tl-item:hover .tl-bg {
	filter: grayscale(0);
  }
  
  .tl-content {
	transform: translate3d(0, 0, 0) translateY(25px);
	position: relative;
	z-index: 1;
	text-align: center;
	margin: 0 1em;
	top: 35%;
	opacity: 0;
  }
  .tl-content h1 {
	font-family: "Pathway Gothic One", Helvetica Neue, Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	font-size: 1.3rem !important;
	font-weight: normal;
  }

  .tl-content p{
    font-size: 1rem !important;
  }
  
  .tl-year {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	z-index: 1;
	border-top: 0px solid #fff;
	border-bottom: 0px solid #fff;
  }

  .tl-year p {
    font-family: "Pathway Gothic One", Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 1.428rem !important;
    line-height: 0;
    opacity: 1; /* Initially visible */
    transition: opacity 0.5s ease; /* Smooth transition */
  }

  .tl-item:hover .tl-year p {
    opacity: 0; /* Invisible when hovering */
    border-width: 0px; /* Hide the border bottom when hovering */

}
  
  .tl-bg {
	transform: translate3d(0, 0, 0);
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-size: cover;
	background-position: center center;
	transition: filter 0.5s ease;
	filter: grayscale(100%);
  }
/*End timeline */



.slideshow-container img {
    object-fit: cover;
    width:100%;
    height:620px;}


/* Navigation Bar */
.navbar a:hover{
    padding-bottom:5px;
    border-bottom: 0px solid #258989;
} 

.navbar a.current{
    color:#258989 !important;
    padding-bottom:5px;
    border-top: 2px solid #258989;
    border-bottom: 2px solid #258989 !important;
}

.topnav{
    z-index: 1;
    background-color: white;
    box-shadow: 0 4px 2px 2px gray !important;
}

.modify-navbar{
    font-size: 1.2rem;
    font-weight: lighter;
    font-weight:450;
    filter:drop-shadow(10px 10px 10px #A4BBFF);
    padding-right:15px;
}

.green{
    color: black !important; 
}

.green:hover{
    color:#439eb4 !important;
    font-size: 1.2rem;
    font-weight:400;
}

.donate:hover{
    color:white !important;
}


.navbar-toggler-icon{
    color:#258989;
}

/*end nav bar */



/* Slideshow container */
.slideshow-container {
    width:100%;
    position: relative;
}

/* new addition Nov 10 2023 SM */ 
.slideshow-container h1{
    font-family: "Lexend Deca", sans-serif;
    color: #f2f2f2;
    text-shadow: black 1mm 1mm;
    font-weight:bolder;
    line-height:1.4;
    font-size: 50px;
    padding-bottom:150px;
  }
  /* end of new addition */
  

/* Caption text */
.text {
    background-color: rgba(5, 105, 95, 0.661);
    color: #f2f2f2;
    max-width:350px;
    font-size: 19px;
    font-weight: 300;
    line-height:1.4;
    padding: 8px 12px;
    position: absolute;
    bottom: 150px;
    left: calc(50vw - min(5cm, 25vw));
    overflow-y: auto;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 15px;
    font-weight: 600;
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #25898964;
}

/* The dots/bullets/indicators */
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dot:hover{
    box-shadow:0px 0px 10px 2px #bbb;

}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 2s;
}

.pattern{
    position: fixed;
    max-width: 100%;
    background-color: #e5e5f7;
    opacity: 0.2;
    background: linear-gradient(135deg, #439eb455 25%, transparent 25%) -40px 0/ 80px 80px, linear-gradient(225deg, #439eb4 25%, transparent 25%) -40px 0/ 80px 80px, linear-gradient(315deg, #439eb455 25%, transparent 25%) 0px 0/ 80px 80px, linear-gradient(45deg, #439eb4 25%, #e5e5f7 25%) 0px 0/ 80px 80px;
    z-index: -100;
}

/* App.js */
.hidden{
    opacity: 0; 
    transition: all 1.5s;
    filter: blur(5px);
    transform: translateX(-100px);
}

.show{
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0px);
}

@media(prefers-reduced-motion){
    .hidden{
        transition: none;
    }
}


/* Home page About Us Container */
.about-us-background-blur{
    background-image: url('/img/background-image-blur-about-us.png');
    background-size: cover;
    background-repeat: no-repeat;
    height:1300px;
    filter: blur(8px);
    -webkit-filter: blur(8px);
    /* z-index:3; */
    margin-top:50px;
    margin-left:5px;
    margin-right:5px;
    position:relative;
    border-radius: 20px;
    box-shadow: rgb(22, 252, 210) 0px 0px 10px 5px;
}


.about-us-title{
    width:85% !important;
    padding-right:50px !important;
}

.about-us-title h1{
    font-weight: 800;
    font-size: 2.5rem;
    width:100%;
}

.about-us-title h2{
    color:#7FDDDD;
    font-size: 1.3rem;
    font-weight: 500 !important;
}

.about-us-title p{
    margin-top:20px;
    width: 50%;
    font-size: 1.2rem;
}

hr{
    width:95% !important;
    color:whitesmoke !important;
}


#map{
    float:right;
    width: 60%;
}

.about-us-map{
    width: 100% !important;
    padding-right:50px !important;
}

.about-us-map p{
    font-size: 1.3rem;
    font-weight: 300;
}

.more-info-button{
    text-decoration: none !important;
    padding-left:20px !important;
    padding-right: 20px !important;
    padding-top:8px;
    padding-bottom: 8px;
    font-weight: 450 !important;
    color: #7FDDDD !important;
    border: 1px solid #7FDDDD !important;
    border-radius: 5px;
    margin-top:15px;
}

.more-info-button:hover{
    opacity: 0.8;
    color: white !important;
}


/* Events Home Page */
.events-background-blur{
    background-image: url('/img/events02.png');
    background-size: cover;
    background-repeat: no-repeat;
    height:850px;
    filter: blur(8px);
    -webkit-filter: blur(8px);
    /* z-index:3; */
    margin-top:50px;
    margin-left:5px;
    margin-right:5px;
    position:relative;
    border-radius: 20px;
    box-shadow: rgb(22, 252, 210) 0px 0px 10px 5px;
}

#events-container{
    position:relative !important;
    top:-800px;
    line-height:35px;
}

#events-map #map{
    margin-left: 20px !important;
    height: 450px;
    object-fit: cover;
}

/* Donate Home Page */
.index-donate-container{
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 50px;
    z-index: 100 !important;
    background-color: red !important;
    opacity: 1 !important;
}



/* Footer */
.footer-pos{
    background-color: #258989;
    text-decoration: none;
}

#footer-background{
    width:100%;
    margin-bottom: -50px;
}

.footer-text{
    margin-bottom: 10px;
}

.footer-text a{
    text-decoration: none !important;
}

#footer-home{
    font-weight: 800;
    text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #0fa,
      0 0 80px #0fa,
      0 0 90px #0fa,
      0 0 100px #0fa,
      0 0 150px #0fa;
}

.footer-text a:hover{
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #ffdd1b, 0 0 25px #ffdd1b;
    }
    
    



/* About Us Page - Board */
.card-align{
    display: flex;
    flex-direction: row !important;
    z-index: 3 !important;
}

.card-col{
    z-index: 2;
}

card-col{
    z-index: 5 !important;
    color:white !important;

}

.about-us-page{
    top: 200px !important;
}

.about-us-title2{
    margin-left:auto !important;
}

.about-us-title p{
    width: 70%;
}

#about-us-page-id{
    height: 800px;
}



/*Media Query */

@media (max-width: 992px){
    .about-us-map p{
        font-size: 1.3rem;
        font-weight: 100;
    }
    .tl-content h1 {
        font-size: 1.1rem !important;
        font-weight: normal;
      }
    
      .tl-content p{
        font-size: 0.9rem !important;
      }

      .tl-item {
        height: 125vh;
        min-height: 600px;
      }

      .tl-content {
        margin: 0 1em;
        top: 22%;
        opacity: 0;
      }

      .about-us-title h1{
        font-size: 2.2rem;
    }
}


 @media (max-width: 824px) {

    /* Start for about us main page section */
    .about-us-background-blur{
        height:1950px;
    }

    .about-us-title p{
        width:80%;
    }

    #map{
        width:100%;
        margin-bottom: 10px;
    }
    /* END for about us main page section */

    .events-background-blur{
        height:1200px;
    }

    #events-container{
        top:-1150px;
    }

    .our-story-container{
        flex-direction: column;
    }

    .our-story-text{
        width: 100% !important;
        padding-left: 50px;
        padding-right: 50px;
    }
    
} 

/* Bootstrap breakpoint for the navbar hamburger menu */
@media (min-width: 992px){

    .donate{
        color:white !important;
        border-radius: 20px;
        /* border: 2px solid #258989; */
        background-color: #258989 !important;
        letter-spacing: -1px !important;
        width: 120px !important; 
        font-size: 1rem;
        box-shadow:
        0.3em 0.3em 1em #7FDDDD;
    }
    .navbar a:hover{
        padding-bottom:5px;
        border-bottom: 0px solid #258989;
    } 
    
    .navbar a.current{
        color:#258989 !important;
        padding-bottom:5px;
        border-bottom: 0px solid #258989;
        border-top: 0px solid #258989;
    }

    .footer-text h6{
        font-size: large !important;
        margin-bottom: 20px !important;
    }
}

@media (max-width: 992px){
    .about-us-map p{
        font-size: 1.3rem;
        font-weight: 100;
    }

    .side-by-side-container{
        flex-direction: column !important;
    }

    .side-by-side-container img{
        height: 400px;
        width:100% !important;
    }
    .side-by-side-container h1{
        font-size: 1.3rem !important;
    }

}


@media (max-width: 556px){
    .about-us-map p{
        font-size: 1.3rem;
        font-weight: 100;
    }
    .tl-content h1 {
        font-size: 0.9rem !important;
        font-weight: normal;
      }

      .tl-text{
        width: 100%;
        margin: 0px;
      }
    
      .tl-content p{
        font-size: 0.6rem !important;
      }
      .tl-content {
        margin: 0 0em;
      }
      .tl-item {
        height: 125vh;
        min-height: 600px;
      }

      .about-us-title h1{
        font-size: 2rem;
    }
}
